@inherits LayoutComponentBase

<div class="page">
    <main>
        @Body
    </main>
</div>

@if (IsDebug)
{
    <MauiReflexive.Components.CopilotOverlay />
}

@code {
    private static bool IsDebug
    {
        get
        {
#if DEBUG
            return true;
#else
            return false;
#endif
        }
    }
}
